{{ define "footerChat" }}
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/ChatUI.js"></script>
        <script src="/assets/js/ChatAPI.js"></script>
        <script src="/assets/js/chat.js"></script>
    </body>
</html>
{{ end }}