{{ define "header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Demo">
            <meta name="author" content="Ben">
            <meta name="generator" content="Ben">
            <title>Private</title>    

            <!-- Bootstrap core CSS -->
            <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
            <link href="/assets/css/demo.css" rel="stylesheet" />
            
            <!--Fontawesome CDN-->
	        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
            
            <!-- Favicons -->
            <link href="/assets/images/favicon.ico" sizes="180x180" rel="apple-touch-icon" />
            <link href="/assets/images/favicon.ico" sizes="32x32" type="image/png" rel="icon" />
            <link href="/assets/images/favicon.ico" sizes="16x16" type="image/png" rel="icon" >            
            <link href="/assets/images/favicon.ico" color="#7952b3" rel="mask-icon" />
            <link href="/assets/images/favicon.ico" rel="icon" />

            <!-- Manifest -->
            <link rel="manifest" crossorigin="use-credentials" href="/assets/manifest.json"/>
    </head>
    <body style="background-image: url('/assets/images/bg.gif'); background-position: center; background-repeat: no-repeat; background-size: cover; background-color:black;">
{{ end }}